.ns-shelf {

    &__list {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
    }

    &__item {
        width: calc(25% - 40px);
        @include rem(margin, 20px);

        &--content {
            position: relative;
        }

        &--actions {
            overflow: hidden;
            position: absolute;
            bottom: 0;
            left: 2.5%;
            width: 95%;
            background: rgba(230, 230, 230, 0.5);
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            @include rem(padding, 10px);
            @include rem(max-width, 520px);
            max-height: 0;
            opacity: 0;
            visibility: hidden;
            will-change: max-height;
            transition: all .3s ease-in-out;

            &.is--active{
                max-height: 300px;
                opacity: 1;
                visibility: visible;
            }
        }

        &--flag {
            position: absolute;
            @include rem(top, 10px);
            @include rem(right, 15px);
            @include rem(width, 40px);
            @include rem(height, 40px);
            border-radius: 50%;
            background: $color-yellow;
            color: $color-black;
            font-weight: bold;
            text-align: center;
            @include rem(font-size, 9px);
            @extend %display-column-centered;
        }

        &:hover {
            .ns-shelf__item--actions {
                max-height: 300px;
                opacity: 1;
                visibility: visible;
            }
        }

        @include mq('lg', max) {
            width: calc(33% - 40px);
        }

        @include mq('md', max) {
            &--actions {
                position: relative;
                justify-content: space-between;
                background: none;
                padding: 0;
                max-height: unset;
                opacity: 1;
                visibility: visible;
            }
        }

        @include mq('sm', max) {
            width: calc(50% - 40px);
        }   
    }

    &__link {
        display: block;
        width: 95%;
        @include rem(max-width, 520px);
        margin: auto;
    }

    &__title {
        @extend %display-column;
        justify-content: space-between;
        @include rem(min-height, 72px);
        text-align: center;
        color: $color-gray;
        font-weight: 600;
        @include rem(font-size, 18px);
        @include rem(margin-top, 20px);

        &:after {
            content:'';
            display: block;
            @include rem(margin, 10px auto);
            @include rem(width, 25px);
            @include rem(height, 3px);
            background: $color-yellow;
        }

        @include mq('md', max) {
            @include rem(font-size, 15px);
        }

        @include mq('sm', max) {
            @include rem(font-size, 12px);
        }
    }

    &__price-best {
        @include rem(font-size, 14px);
        color: $color-gray;
        text-align: center;

        span {
            @include rem(font-size, 32px);
            font-weight: bold;
        }

        @include mq('md', max) {
            span {
                @include rem(font-size, 26px);
            }
        }

        @include mq('sm', max) {
            @include rem(font-size, 12px);

            span {
                @include rem(font-size, 20px);
            }
        }
    }

    &__price-installments {
        text-align: center;
        color: $color-gray-light;
        @include mq('md', max) {
            @include rem(font-size, 14px);
        }
        @include mq('sm', max) {
            @include rem(font-size, 12px);
        }
    }

    &__size {
        @extend %display-row-centered;
        width: 100%;
        @include rem(padding, 10px);

        &--btn {
            display: block;
            background: $color-white;
            @include rem(min-width, 30px);
            @include rem(min-height, 30px);
            @include rem(margin, 0 5px);
            @include rem(padding, 2px);
            @include rem(border-radius, 26px);
            border: 1px solid $color-gray-light;
            color: $color-gray-dark;
            text-align: center;
            @include rem(font-size, 14px);
            @include rem(line-height, 24px);
            transition: all .2s ease-in-out;

            &:hover, &.is--active {
                color: $color-blue;
                border: 1px solid $color-blue;
            }

            &.is--active {
                font-weight: 600;
            }

        }

        @include mq('md', max) {
            &--btn {
                @include rem(min-width, 25px);
                @include rem(min-height, 25px);
                @include rem(font-size, 11px);
                @include rem(line-height, 18px);
            }
        }

        @include mq('sm', max) {

            @include rem(padding, 10px 0);
            
            &--btn {
                @include rem(min-width, 20px);
                @include rem(min-height, 20px);
                @include rem(font-size, 10px);
                @include rem(line-height, 15px);
            }
        }
    }

    &__qty {
        @extend %display-row;

        &--value {
            @include rem(width, 30px);
            text-align: center;
            background: $color-white;
        }

        &--operator {
            @include rem(width, 20px);
            text-align: center;
            background: $color-purple;
            color: $color-white;
        }

        @include mq('md', max) {
            &--value {
                @include rem(width, 25px);
                @include rem(font-size, 12px);
                border: 1px solid $color-purple;
            }

            &--operator {
                @include rem(font-size, 12px);
            }
        }

        @include mq('sm', max) {
            &--value {
                @include rem(width, 20px);
            }

            &--operator {
                @include rem(font-size, 10px);
            }
        }
    }

    &__buy-btn {
        @include rem(padding, 5px 15px);
        background: $color-blue;
        color: $color-white;
        transition: background .2s ease-in-out;
        font-weight: 600;

        &:hover {
            background: $color-blue-dark;
        }

        @include mq('md', max) {
            @include rem(font-size, 12px);
        } 

        @include mq('sm', max) {
            @include rem(font-size, 10px);
            @include rem(padding, 5px);
        }
    }

    &__warnning {
        position: fixed;
        top: 35%;
        left: 35%;
        @include rem(width, 450px);
        @include rem(height, 180px);
        border-radius: 5px;
        background: $color-purple;
        color: $color-white;
        @include rem(padding, 30px);

        h4 {
            text-align: center;
            font-weight: bold;
            text-transform: uppercase;
            @include rem(margin-bottom, 20px);
            @include rem(font-size, 18px);
        }

        p {
            @include rem(padding, 20px);
            text-align: center;
        }

        @include mq('sm', max) {
            width: 70%;
            top: 40%;
            left: 15%;
            @include rem(padding, 20px);
            height: unset;
            
            h4 {
                @include rem(font-size, 16px);
                @include rem(margin-bottom, 10px);
            }

            p {
                @include rem(font-size, 12px);
                @include rem(padding, 10px);
            }
        }


        @include mq('sm', max) {
            width: 90%;
            left: 5%;
        }
    }
}