header(class='ns-header')
    img(class='ns-header__logo', src='./dist/assets/images/netshoes-logo.jpg', alt='Logo')
    button(class='ns-header__cart')
        img(class='ns-header__cart--logo', src='./dist/assets/images/minicart-logo.png', alt='Ícone Sacola')
        p(class='ns-header__cart--text') Minha Sacola