div(class="ns-minicart__overlay")
    div(class="ns-minicart__container")
        span(class="ns-minicart__close") Fechar
        div(class="ns-minicart__top")
            div(class="ns-minicart__top--icon")
                img(src="./dist/assets/images/minicart-logo.png", alt="Ícone Minicart")
                span(class="ns-minicart__top--total") 0
            h3(class="ns-minicart__top--title") Sacola
        ul(class="ns-minicart__list")
        div(class="ns-minicart__subtotal")
            span(class="ns-minicart__subtotal--text") Subtotal
            p(class="ns-minicart__subtotal--value") R$ 0,00
        button(class="ns-minicart__buy-btn", type="submit") Comprar
