 
 /**
 * Colors
 */

 $color-yellow                  : #dfbd00;
 $color-white                   : #fff;
 $color-gray-lighten            : #88888a;
 $color-gray-light              : #5d5d5f;
 $color-gray                    : #313135;
 $color-gray-dark               : #202025;
 $color-gray-darken             : #131316;
 $color-black                   : #000;
 
