 
 /**
 * Colors
 */

 $color-purple                  : #5a2d82;
 $color-purple-dark             : #370f53;
 $color-blue                    : #13abe1;
 $color-blue-dark               : #0687c1;
 $color-yellow                  : #dfbd00;
 $color-white                   : #fff;
 $color-gray-lighten            : #88888a;
 $color-gray-light              : #5d5d5f;
 $color-gray                    : #313135;
 $color-gray-dark               : #202025;
 $color-gray-darken             : #131316;
 $color-black                   : #000;
 
