
/**
 * Screen Sizes
 */
$screen-xs : 425px !default;
$screen-sm : 768px !default;
$screen-md : 1024px !default;
$screen-lg : 1200px !default;

/**
 * Breakpoints - Media Queries
 */
$breakpoints: (
    'xs': $screen-xs,
    'sm': $screen-sm,
    'md': $screen-md,
    'lg': $screen-lg
);
