.ns-minicart {
    
    &__overlay {
        opacity: 0;
        visibility: hidden;
        z-index: -1;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.6);
        transition: all .1s ease-in-out;
          
        &.is--active {
            opacity: 1;
            visibility: visible;
            z-index: 5000;

            .ns-minicart__container {
                transform: translateX(0);
                z-index: 5010;
            }
        }
    }

    &__close {
        position: absolute;
        @include rem(top, 20px);
        left: 5%;
        align-self: flex-start;
        @include rem(font-size, 12px);
        text-decoration: underline;
        color: $color-white;
        cursor: pointer;
        
        &:before {
            content:'X';
            text-decoration: underline;
            @include rem(margin-right, 5px);
        }

        &:hover {
            color: $color-yellow;
        }

        @include mq('sm', max) {
            @include rem(font-size, 10px);
        }
    }

    &__container {
        @extend %display-column;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        right: 0;
        width: 70%;
        height: 100vh;
        @include rem(max-width, 500px);
        @include rem(padding, 50px 0);
        background: $color-gray-dark;
        transform: translateX(200%);
        transition: all .3s ease-in-out;

        @include mq('sm', max) {
            width: 90%;
        }
    }

    &__top {
        @extend %display-row-centered;
        &--icon {
            position: relative;
            img {
                @include rem(width, 30px);
            }
        }

        &--total {
            display: block;
            position: absolute;
            @include rem(bottom, -10px);
            @include rem(right, -10px);
            @include rem(width, 20px);
            @include rem(height, 20px);
            border-radius: 50%;
            background: $color-yellow;
            @include rem(font-size, 12px);
            @include rem(line-height, 20px);
            font-weight: bold;
            text-align: center;
            color: $color-black;
        }

        &--title {
            @include rem(margin-left, 20px);
            @include rem(font-size, 24px);
            color: $color-white;
            text-transform: uppercase;
            font-weight: bold;
        }

        @include mq('sm', max) {
            &--icon {
                img {
                    @include rem(width, 25px);
                }
            }
    
            &--total {
                @include rem(bottom, -5px);
                @include rem(right, -5px);
                @include rem(width, 15px);
                @include rem(height, 15px);
                @include rem(font-size, 10px);
                @include rem(line-height, 15px);
            }
    
            &--title {
                @include rem(margin-left, 18px);
            }
        }
    }

    &__list {
        width: 100%;
        height: 65%;
        @include rem(margin, 20px 0);
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 8px;
            background-color: $color-gray-lighten;
            border-radius: 4px;
        }

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 4px;
            background-color: $color-gray-lighten;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 4px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: $color-gray-light;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: $color-yellow; 
          }
    }

    &__item {
        @extend %display-row;
        justify-content: space-between;
        align-items: center;
        @include rem(padding, 15px 5%);
        position: relative;
        box-shadow: 0 -46px 0 -45px $color-gray-darken; 
        cursor: pointer;
        transition: all .3s ease-in-out;

        &--img {
            @include rem(width, 60px);
        }

        &--info {
            @extend %display-column;
            justify-content: flex-start;
            align-content: space-between;
            @include rem(margin-left, 15px);
            width: 65%;
        }

        &--title {
            color: $color-white;
            @include rem(font-size, 16px);
            font-weight: bold;
        }

        &--details, &--qty {
            color: $color-gray-lighten;
            @include rem(font-size, 14px);
        }

        &--value {
            color: $color-yellow;
            @include rem(font-size, 16px);
            font-weight: bold;
            align-self: flex-end;
            white-space: nowrap;
        }

        &--delete {
            position: absolute;
            right: 5%;
            top: 15%;
            color: $color-black;
            @include rem(font-size, 20px);
            font-weight: bold;
            cursor: pointer;
        }

        &:hover {
            background: $color-gray-darken;
            
            > span[class$="delete"] {
                color:  $color-white;
            }
        }

        &.is--deleted {
            background: $color-gray-darken;
            text-decoration: line-through;
            color: $color-white;
            filter: brightness(40%);

            > span[class$="delete"] {
                color:  $color-gray;
            }
        }

        @include mq('sm', max) {

            @include rem(padding, 5px 5%);

            &--img {
                @include rem(width, 50px);
            }
    
            &--title {
                @include rem(font-size, 12px);
            }
    
            &--details, &--qty {
                @include rem(font-size, 10px);
            }
    
            &--value {
                @include rem(font-size, 12px);
            }
    
            &--delete {
                @include rem(font-size, 14px);
            }
    
        }
    }

    &__subtotal {
        @extend %display-row;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        @include rem(padding, 20px 5%);
        @include rem(min-height, 80px);

        &--text {
            @include rem(font-size, 14px);
            text-transform: uppercase;
            color: $color-gray-lighten;
        }

        &--value {
            color: $color-yellow;
            @include rem(font-size, 26px);
        }

        @include mq('sm', max) {
            &--text {
                @include rem(font-size, 12px);
            }
    
            &--value {
                @include rem(font-size, 22px);
            }
        }
    }

    &__buy-btn {
        width: 90%;
        background: $color-black;
        @include rem(padding, 10px);
        color: $color-white;
        box-shadow: 0 0 4px 0 $color-black;
    }
}
